{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" >
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header>
        Gestion Du Stock
    </header>
    <nav>
        <ul>
            <li><a href="/.">Accueil</a> </li>
            <li><a href="/product/list">Produits</a> </li>
            <li><a href="/product/add">Nouveau produit</a> </li>
            <li><a href="/product/add/simple">Nouveau produit Simple</a> </li>
        </ul>
    </nav>
    {% block content %}

    {% endblock %}
    <footer>
        copyright @Cnac2023
    </footer>
</body>
</html>