{% extends 'base.html' %}
{% block content %}
    <div class="content">
        <h2 style="Float:left;width : 20%;background: red ;">Detail du Produit : {{ id }}</h2>
        <p style="Float:left;width : 20%;background: red ;">{{ product.name }}</p>
        <p style="width : 20%;background: red ;">{{ product.category }}</p>
        <p style="width : 20%;background: red ;">{{ product.price }}</p>
        <p style="width : 20%;background: red ;">{{ product.stock_qte }}</p>
     <table border="1">
            <thead>
                <tr>
                    <th> Numero </th>
                    <th> Nom</th>
                    <th> Categorie </th>
                    <th> Prix </th>
                    <th> Quantitee </th>
                </tr>
            </thead>
            <tr>
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.category}}</td>
                <td>{{product.price}}</td>
                <td>{{product.stock_qte}}</td>
            </tr>



        </table>
   </div>
{% endblock %}

